<!DOCTYPE html>
<html	xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title> TP kviz - Početak </title>
</head>
<body>
	<div align="center"> nalog: <span sec:authentication ="name"></span> </div>
	<div align="center"> <a th:href="@{/logout}"> izloguj se </a></div>
	<div align="center">
		<h2 th:text="${'Dobrodošli ' + session.userFirstName}"> Dobrodošli </h2>
	</div>
	<div align="center">
		<form action="#" th:action="@{/resetAndStart}">
			<input type="submit" value="Startuj kviz" />
		</form>
	</div>
	 <div align="center" style="margin-top: 15px;" 
	 		sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{/overview/}">Administratorska početna stranica</a>.
    </div>	
</body>
</html>