<!DOCTYPE html>
<html	xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title> TP kviz - Učesnici - Rang lista </title>
</head>
<body>
	<div align="center"> nalog: <span sec:authentication ="name"></span> </div>
	<div align="center"> <a th:href="@{/logout}"> izloguj se </a></div>
	<div align="center">
		<h2 align="center"> Rang lista učesnika </h2>
	<table>
			<thead>
			<tr>
			<th> Korisničko ime </th>
			<th> Tačnih odgovora </th>
			<th> Procenat uspešnosti </th>
			</tr> 
		</thead>
		<tbody>
			<tr th:each="user : ${rankings}">
				<td align="center" th:text="${user.username}">username</td>
				<td align="center" th:text="${user.score}">score</td>
				<td align="center"
					th:text="${maxScore ne 0 ? #numbers.formatPercent((user.score * 1.0) div maxScore,1,0)
											 : 'Kviz ne sadži ni jedno pitanje'}">
				</td>
			</tr> 
		</tbody>
	</table>
	</div>
	<hr/>
	<div align="center"> <a th:href="@{/overview/}"> Povratak </a></div>
</body>
</html>